<aside class="bg-dark">
  <div class="container text-center">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Press</h2>
      <hr class="primary">
    </div>
  </div>
  <div class="press-container">
    <div class="press-item">
      <a href="http://blog.kaggle.com/2016/06/03/dataset-spotlight-how-isis-uses-twitter/" title="Kaggle"><img src="./img/kaggle-1.png" alt="Kaggle"/><span>Dataset Spotlight: How ISIS Uses Twitter | Khuram Zaman</span></a>
    </div>
    <div class="press-item">
      <a href="http://technical.ly/dc/2015/06/03/digital-hope-helping-homeless-writers-make-online/" title="Technically"><img src="./img/technically-3.png" alt="Kaggle"/><span>How Digital Hope is helping homeless writers make it online</span></a>
    </div>
    <div class="press-item">
      <a href="https://www.entrepreneur.com/article/232712" title="Entrepreneur"><img src="./img/entrepreneur-1.png" alt="Kaggle"/><span>The Quickest Way to Deliver Your Message? Make It Visual.</span></a>
    </div>
    <div class="press-item">
      <a href="http://www.huffingtonpost.com/arianna-huffington/burnout-third-metric_b_3792354.html" title="The Huffington Post"><img src="./img/huffpost-2.png" alt="Kaggle"/><span>Burnout: The Disease of Our Civilization</span></a>
    </div>
  </div>
</aside>
