<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">The mission of the Countering Violent Extremism Task Force is to manage the synchronization and integration of a whole-of-government effort to empower local partners to prevent violent extremism in the United States.</p>
                <a href="#" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
