<section class="no-padding" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Resources</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/strategies.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Strategies
              </div>
              <div class="project-name">
                USG CVE Strategies &amp; Frameworks
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/toolkits.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Toolkits
              </div>
              <div class="project-name">
                Guides, Best Practices, and Terminology
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/research.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Research
              </div>
              <div class="project-name">
                CVE Research &amp; Fact Sheets
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/cvegrants.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                CVE Grants
              </div>
              <div class="project-name">
                CVE Related Grants
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/noncve.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Non-CVE Grants
              </div>
              <div class="project-name">
                Other Grants
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/pilotframework.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Pilot Frameworks
              </div>
              <div class="project-name">
                Pilot City Frameworks
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/pressmedia.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Press &amp; Media
              </div>
              <div class="project-name">
                Notable Media on CVE
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="portfolio-box">
          <img src="img/resource/networks.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Networks
              </div>
              <div class="project-name">
                CVE Organizations &amp; Partners
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
