<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">CVE Programs</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="./img/research.svg" alt="" class="wow bounceIn" />
          <h3>Research</h3>
          <ul class="list-group">
            <li class="list-group-item"><a>Expert Analysis</a></li>
            <li class="list-group-item"><a>Credible Research</a></li>
            <li class="list-group-item"><a>Best Practices</a></li>
            <li class="list-group-item"><a>Case Studies</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="./img/labs.svg" alt="" class="wow bounceIn" data-wow-delay=".1s" />
          <h3>Labs</h3>
          <ul class="list-group"><li class="list-group-item"><a>Opensource</a></li>
            <li class="list-group-item"><a>Chatbots</a></li>
            <li class="list-group-item"><a>Analytics</a></li>
            <li class="list-group-item"><a>Machine Learning</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="./img/resources.svg" alt="" class="wow bounceIn" data-wow-delay=".2s" />
          <h3>Partnerships</h3>
          <ul class="list-group">
            <li class="list-group-item"><a>Grant Opportunities</a></li>
            <li class="list-group-item"><a>Playbooks</a></li>
            <li class="list-group-item"><a>Trainings</a></li>
            <li class="list-group-item"><a>Events &amp; Conferences</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="./img/digitalstrategies.svg" alt="" class="wow bounceIn" data-wow-delay=".3s" />
          <h3>Digital Strategies</h3>
          <ul class="list-group">
            <li class="list-group-item"><a>Playbooks</a></li>
            <li class="list-group-item"><a>Social Media Strategy</a></li>
            <li class="list-group-item"><a>Private Sector Collaboration</a></li>
            <li class="list-group-item"><a>Digital Advertising</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
